[Unit]
Description=LeeDaud Spring Boot Backend
After=network.target mariadb.service redis.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/website/runtime/backend
ExecStart=/usr/bin/java -jar /root/website/runtime/backend/LeeDaud-server.jar --spring.profiles.active=prod
SuccessExitStatus=143
Restart=always
RestartSec=5
Environment=TZ=Asia/Shanghai

[Install]
WantedBy=multi-user.target
